
#start button  {
    position:relative; 
    height:60px; 
    border-radius:3px;
    border-color: #212121;
    border-style: none;
    background-color: #212121;
    color:azure;
    width: 200px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    opacity: 1;
	  animation-name: fadeInOpacity;
	  animation-iteration-count: 1;
	  animation-timing-function: ease-in;
	  animation-duration: 1500ms;
}
#start button:hover{
  position:relative; 
  height:60px; 
  border-radius:3px;
  border-style: solid;
  border-color: #212121;
  border-width: 2px;
  background-color: whitesmoke;
  color:#212121;
  width: 200px;
  margin: 5px;
  font-size: 20px;
  cursor: pointer;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 250ms;
  border-color: #212121;
}
#start {
    position: relative; 
    padding-top:60px;
    margin:auto;
    display:flex;
    direction: row;
    width: 50%;
    justify-content: center;
    flex-wrap: wrap;
}
#main button  {
    position:relative; 
    height:42px; 
    border-radius:3px;
    border: none;
    background-color: #212121;
    color:azure;
    width: auto;
    min-width: 93px;
    margin: 5px;
    font-size: 13px;
    cursor: pointer;
}
#main button:hover {
    position:relative; 
    height:42px; 
    border-radius:3px;
    border: solid;
    border-width: 2px;
    border-color: #212121;
    background-color: whitesmoke;
    color:#212121;
    width: auto;
    min-width: 93px;
    margin: 5px;
}
#main input  {
    position:relative; 
    height:40px; 
    border-radius:3px;
    border: none;
    background-color: #212121;
    color:azure;
    width: 250px;
    margin: 5px;
    font-size: large;
    padding-left: 5px;
}

#main {
    position: relative; 
    padding-top:100px;
    margin:auto;
    display:flex;
    direction: row;
    width: 50%;
    justify-content: center;
    flex-wrap: wrap;
}
.flip-card {
    background-color: transparent;
    perspective: 1000px;
    height: 250px;
    width: 210px;
    padding: 0 30px 30px;
  }
  .flip-card-flip {
    background-color: transparent;
    perspective: 1000px;
    height: 250px;
    width: 210px;
    padding: 0 30px 30px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card-flip .flip-card-inner {
    transform: rotateX(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    
  }
  
  .flip-card-front {
    background-color: rgba(187, 187, 187, 0);
    color: black;
  }
  
  .flip-card-back {
    background-color: #bbb;
    color: black;
    transform: rotateX(180deg);
  }
  .title {
    padding-top: 160px;
    font-size: 80px;
    color: #212121;
    font-weight: 300;
    opacity: 1;
	  animation-name: fadeInOpacity;
	  animation-iteration-count: 1;
	  animation-timing-function: ease-in;
	  animation-duration: 1500ms;
  }
  @keyframes fadeInOpacity {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .tooltip {
    position: absolute;
    display: inline-block;
    top: -2px;
    right: 5px;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: auto;
    min-width: 50px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px;
    position: absolute;
    z-index: 1;
    top: 110px;
    right: 5px;
    margin-left: -60px;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    right: 20%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
  }